@import '/fonts/fonts.css';
@import './transitions.css';

:root {
  --primary-color: #c0325d;
  --gradient-color: #e9525f;
  --light-grey: #726c7d;
  --darker-grey: #14151a;
  --active: #4ae531;
  --white-color: #ffffff;
  --background-color: #0b0b0e;
  --light-color: #e2daec;
  --error: #FF6464;
  --gradient: linear-gradient(256deg, #E9525F 4.96%, #EF7D85 73.81%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Inter';
}

p, span, input, ::before, ::after{
  font-family: 'Inter';
}
