@import '/fonts/fonts.css';
@import './transitions.css';

:root {
  --primary-color: #c0325d;
  --gradient-color: #e9525f;
  --light-grey: #726c7d;
  --darker-grey: #14151a;
  --active: #4ae531;
  --white-color: #ffffff;
  --background-color: #0b0b0e;
  --light-color: #e2daec;
  --error: #FF6464;
  --gradient: linear-gradient(256deg, #E9525F 4.96%, #EF7D85 73.81%);
  --secondary-logo-color: #FECC66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html, body, #app {
  height: 100%;
}
body {
  background: var(--background-color);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Inter';
  color: var(--white-color);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

p, span, input, ::before, ::after{
  font-family: 'Inter';
}

.container {
  width: calc(100% - 60px);
  margin: 0 auto;
  overflow: hidden;
}
.container__main {
  width: calc(100% - 60px);
}

.page-default {
  padding: 50px 0;
}
.page-main {
  padding-top: 10px;
}
